*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/usage.statistics.xml
/.idea/shelf/
/.idea/dataSources/
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/data_source_mapping.xml
/.idea/sqlDataSources.xml
/.idea/dynamic.xml
/.idea/httpRequests/
/.idea/commandlinetools/
/.idea/dbnavigator.xml
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
