@import 'tailwindcss';


@import 'tw-animate-css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@import "@nuxt/ui";


@utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@layer {
    .noise-bg {
        background-image: url('../images/noise-bg.jpg');
        background-size: 50%;
        @apply bg-slate-900;
        background-blend-mode: multiply;
    }

    .bevel {
        @apply relative;
        @apply after:shadow-[0_1px_0_0_rgba(0,0,0,0.1)];
        @apply after:bg-transparent;
        @apply after:content-[''];
        @apply after:block;
        @apply after:inset-0;
        @apply after:absolute;
        @apply after:bottom-0;
        @apply after:rounded-[inherit];
        @apply before:shadow-[0_-1px_0_0_rgba(255,255,255,0.1)];
        @apply before:bg-transparent;
        @apply before:content-[''];
        @apply before:block;
        @apply before:inset-0;
        @apply before:absolute;
        @apply before:bottom-0;
        @apply before:rounded-[inherit];
        @apply after:translate-y-[-1px];
        @apply before:translate-y-[1px];
        @apply active:translate-y-[1px];
        @apply active:translate-x-[1px];
    }

    .bg-diagonal {
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%22222222' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    }
}
